.container {
    padding-block: 1rem;
}

#not_show {
    display: none;
}

.static_header {
    display: flex;

    align-items: center;
    justify-content: space-around;

    width: 100vw;

    color: white;
}

.container .static_header.oppened_menu {
    position: absolute;

    width: 100vw;
    height: 100vh;
}

.static_header .header_text {

    font-size: 1.3rem;
    
    display: flex;
    gap: 1.7rem;

    align-items: center;

    margin-top: .3rem;
}

.static_header .header_text p {
    color: #eeeeee
}

.static_header .header_text p:hover {
    color: white;

    cursor: pointer;
}

.static_header .header_text .button_and_text {
    border: solid white 1px;
    border-radius: 10px;

    padding: 1rem;

    transition: all;
    transition-duration: 500ms;
}

.static_header .header_text .button_and_text:hover {
    background-color: white;
    color: #DE1F92;

    font-weight: bold;

    border: none;
}

.static_header .hamburger_menu {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.container .static_header .not_show {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

@media (width < 1180px) {

    .static_header .header_text {
        font-size: 1rem;
    }
    
}

@media (width <= 966px) {

    .hamburger_menu_icon {
        opacity: 1;
        pointer-events: all;
        visibility: visible;

        font-size: 2.5rem;

        position: absolute;
        right: 2rem;
        top: 2.5rem

    }

    .hamburger_menu_icon:hover {
        cursor: pointer;
    }

    @keyframes left_slide {
        0% {transform: translateX(100vw)}
        100% {transform: translateX(0vw)}
    }

    @keyframes right_slide {
        0% {display: block; transform: translateX(0vw)}
        100% {transform: translateX(100vw)}
    }

    .oppened_menu {
        position: fixed;

        height: 100vh;
        width: 100vw;

        background: rgb(32,189,246);
        background: linear-gradient(45deg, rgba(32,189,246,1) 0%, rgba(121,39,225,1) 50%, rgba(253,21,170,1) 100%);
        color: white;

        transition: all;
        transition-duration: 500ms;

        animation: left_slide 500ms linear;
    }

    .closed_menu {
        position: fixed;

        background: rgb(32,189,246);
        background: linear-gradient(45deg, rgba(32,189,246,1) 0%, rgba(121,39,225,1) 50%, rgba(253,21,170,1) 100%); 
        color: white;

        height: 100vh;
        width: 100vw;

        transition: all;
        transition-duration: 500ms;

        transform: translateX(100vw);
        display: none;

        animation: right_slide 500ms linear;
    }

    .closed_menu .close_button,
    .oppened_menu .close_button {
        font-size: 2rem;
        
        position: absolute;
        right: 2rem;
        top: 3rem;
    }

    .closed_menu .hamburger_menu,
    .oppened_menu .hamburger_menu {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        gap: 2rem;
        
        height: 100vh;
        margin: auto;
    }

    .opened_menu_inspiria_logo {
        display: absolute;

        right: 0;
        left: 0;
        bottom: 0;

        margin-inline: auto;
        margin-top: -3rem;
    }
}